@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .map-overlay-polygon {
    clip-path: polygon(15% 15%, 85% 10%, 95% 75%, 35% 95%, 5% 55%);
  }


.custom-checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #cbd5e1;
  border-radius: 6px;
  background-color: #fff;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.custom-checkbox:checked {
  background-color: #1e3a8a;
  border-color: #1e3a8a;
}

.custom-checkbox:checked::after {
  content: "";
  width: 14px;
  height: 14px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='white' d='M7.5 13.3L4.7 10.5l-1.4 1.4 4.2 4.2 9-9-1.4-1.4z'/%3E%3C/svg%3E") no-repeat center;
}
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-flex;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
  }
  .material-symbols-outlined.fill-1 {
    font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 24;
  }
}

@layer base {
  body {
    @apply font-display;
  }
}
